.favorites {
    //border: 1px solid green;
    margin: 0 auto;
    width: 65%;

    .favorites-header {
        display: grid;
        grid-template-areas:
            "top1 top2 top3 top4 top5 top6"
            "middle middle middle middle middle middle"
            "bottom bottom bottom bottom bottom bottom";
        //grid-gap: 7px;
        grid-template-columns: repeat(6, 1fr);
        padding: 7px;
        column-gap: 0px;
        column-width: 5px;

        //border: 1px solid green;

        .product-f {
            grid-area: top1;
        }

        .price-f {
            grid-area: top3;
        }

        .f {
            //border: 1px solid red;
            //width: fit-content;
            //text-align: center;
        }
    }

    .hr-line {
        height: 2px;
        background-color: black;
        border: none;
    }
}

@media only screen and (max-width: 1200px) {
    .favorites {
        width: auto;
        padding: 5px;
        //margin: 5px;
        .favorites-header {
            
        }
        
    }
}
